{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

	<ul>
		<li>acronym - {{ .Params.acronym }}</li>
		<li>country - {{ .Params.country }}</li>
		<li>country_code - {{ .Params.country_code }}</li>
		<li>founded - {{ .Params.founded }}</li>
		<li>{{ .Params.terminated | default "Operational"}}</li>
		<li><a href="{{ .Params.site_url }}"  target="_blank">Homepage</a></li>
		<li><a href="{{ .Params.wiki_url }}"  target="_blank">Wikiepdia</a></li>
	</ul>

	{{ with .Resources.GetMatch "logo.*" }}
		{{ if  gt .Width  600 }}
			{{ $image := .Resize "x200" }} 
			<img src=" {{ $image.RelPermalink }}">
		{{ else}}
			<img src=" {{ .RelPermalink }}">
		{{end}}
	{{ end }}

{{ end }}
