{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <h1 id="title">Sorry, this page is missing.</h1>
  <h2><a href="{{ "/" | relURL }}">Go, Home.</a></h2>
{{ end }}