<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="SHORTCUT ICON" href="/favicon.ico" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.Title }}">
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
    <title>{{ block "title" . }} {{ .Site.Params.Title }} {{ end }}</title>
     <link rel="canonical" href="{{ .Permalink }}">
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf ` <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ $bootstrap := resources.Get "/vendor/css/bootstrap.min.css" }}
    {{ $googleFonts := resources.Get "/vendor/css/google-fonts.css" }}
    {{ $silent := resources.Get "/css/silent.css" }}

    {{ $styles := slice $bootstrap $googleFonts $silent | resources.Concat "/css/styles.css" | resources.Minify  }}
    {{ $stylesSec := $styles | resources.Fingerprint "sha512" }}
    
    <link rel="stylesheet" integrity="{{ $stylesSec.Data.Integrity }}"href="{{ $styles.Permalink }}">
 </head>
   <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="{{ .Site.BaseURL }}">Silent Orbit </a>
          </div>
        </div>
      </header>

 <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/news">News</a>
          <a class="p-2 text-muted" href="/craft">Space Craft</a>
          <a class="p-2 text-muted" href="/org">Organisations</a>
          <a class="p-2 text-muted" href="/about">About</a>
        </nav>
      </div>