{{ partial "header/site-header.html" . }}

      <div class="jumbotron p-2 p-md-3 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
          <h1 class="display-4 font-italic">{{ .Title }}</h1>
        </div>
      </div>

    <main class="container">
    {{ if .Params.draft }}
      <div class="alert alert-info" role="alert">
      This page is currently a work in progress. If you want to add or edit something please do so <a href="https://gitlab.com/silent-orbit/silentorbit.space/tree/master/content/{{ .Path }}" target="_BLANK">here</a>.
      </div>
    {{ end }}

      <div class="row">
        <div class="col-md-8 blog-main">
          {{ block "main" . }}
          {{ end }}
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">


    {{ if .Params.toc }}
          <div class="p-3 mb-3 bg-light rounded toc">
            <h4>Contents</h4>
              {{ .TableOfContents }}
          </div>
    {{ end }}

{{ if .Params.author }}
          <div class="p-3 mb-3 bg-light rounded toc">
            <h4>Author</h4>
            <p class="mb-0">
             <ul>
              {{ if .Params.author.name }} {{ .Params.author.name }} {{end}}
              {{ if .Params.author.www }}<li><a href="{{.Params.author.www}}" target="_BLANK">HomePage</a></li>{{ end }}
              {{ if .Params.author.email }}<li><a href="mailto:{{.Params.author.email}}?Subject={{ .Title }}" target="_BLANK">email</a></li>{{ end }}
              {{ if .Params.author.twitter }}<li><a href="https://twitter.com/{{.Params.author.twitter}}" target="_BLANK">Twitter</a></li>{{ end }}
              {{ if .Params.author.linkedin }}<li><a href="https://www.linkedin.com/in/{{.Params.author.linkedin}}" target="_BLANK">linkedin</a></li>{{ end }}
              </ul>
            </p>
          </div>
{{ end }}

          <div class="p-3 mb-3 bg-light rounded">
            <h4>About</h4>
            <p class="mb-0">
            	{{ .Site.Params.description }}
            </p>
          </div>

        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{{ partial "footer/site-footer.html" . }}
